/* 
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::   WSF MOBILE CSS STYLES  :::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

@media (max-width: 800px) {
    /* 
----------------------------------------------------------------------------------------------------
Fond Background
---------------------------------------------------------------------------------------------------- */
    /* general styling for page */
    body {
        color: white;
        background-image: none;
        background-color: rgb(220, 220, 220);
    }
    /* Styles du Jeu */
    main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 0;
        height: 100%;
        transform: translate(0%, 0%);
        box-shadow: none;
    }
    .gradient_div {
        padding: 0;
        border-radius: 0px;
    }
    .gradient_div:before {
        opacity: 0;
    }
    #active_bg {
        opacity: 0;
    }
    /* 
----------------------------------------------------------------------------------------------------
Game board / Columns
---------------------------------------------------------------------------------------------------- */
    #game_board {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 0;
        padding-top: 5%;
        background: #D7D7D7;
        background: -webkit-linear-gradient(top, #D7D7D7, #FFFFFF);
        background: -moz-linear-gradient(top, #D7D7D7, #FFFFFF);
        background: linear-gradient(to bottom, #D7D7D7, #FFFFFF);
    }
    #center_column {
        position: absolute;
        display: table-cell;
        height: 100%;
        width: 33%;
    }
    #right_column {
        position: absolute;
        left: -400px;
    }
    #left_column {
        position: absolute;
        left: 0px;
    }
    .player_title {
        font-weight: 300;
    }
    /* 
----------------------------------------------------------------------------------------------------
Dice
---------------------------------------------------------------------------------------------------- */
    .cube {
        margin-left: 37%;
        margin-top: 60px;
    }
    #game_status {
        margin-left: 25%;
        font-weight: 300;
        font-size: 18px;
    }
    /* 
----------------------------------------------------------------------------------------------------
Score / Round Score
---------------------------------------------------------------------------------------------------- */
    .score {
        margin-top: 220px;
        margin-bottom: 0px;
        margin-left: 3%;
        font-size: 160px;
        font-weight: 200;
    }
    .current {
        margin-left: 6.5%;
    }
    /* 
----------------------------------------------------------------------------------------------------
Buttons
---------------------------------------------------------------------------------------------------- */
    .bt_board {
        width: 50%;
        height: 50px;
        margin-left: 13%;
    }
    #btn_bottom_center {
        position: absolute;
        z-index: 10;
    }
    #btn_bottom_center .icon {
        margin-left: 10%;
    }
    .roll_dice {
        position: absolute;
        border-radius: 5px 0 0 5px;
        left: 41px;
        margin: 0;
    }
    .roll_dice .icon {
        margin-right: -2%
    }
    .hold {
        position: absolute;
        right: -40px;
        border-radius: 0 5px 5px 0;
        padding-left: 8%;
        background-color: #8f9090;
    }
    #btn_bottom_center {
        position: absolute;
        width: 100%;
        bottom: 125px;
    }
    #new_game {
        width: 100%;
        position: absolute;
        bottom: 60px;
        z-index: 1;
    }
    .icon {
        margin-left: 30%;
        margin-right: -25%;
    }
    /* 
----------------------------------------------------------------------------------------------------
Winner Cup !
---------------------------------------------------------------------------------------------------- */
    #cup {
        position: absolute;
        bottom: 20%;
        right: 20%;
    }
}