/* 
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::   WSF MOBILE CSS STYLES  :::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

@media (max-width: 390px) {
    /* 
----------------------------------------------------------------------------------------------------
Fond Background
---------------------------------------------------------------------------------------------------- */
    /* general styling for page */
    body {
        color: white;
        background-image: none;
        background-color: rgb(220, 220, 220);
    }
    /* Styles du Jeu */
    main {
        left: 0;
        top: 0;
        height: 100%;
        transform: translate(0%, 0%);
        box-shadow: none;
    }
    .gradient_div {
        padding: 0;
        border-radius: 0px;
    }
    .gradient_div:before {
        opacity: 0;
    }
    #active_bg {
        opacity: 0;
    }
    #game_board {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 0;
        padding-top: 5%;
    }
    #center_column {
        position: absolute;
        display: table-cell;
        height: 100%;
        width: 33%;
    }
    .bt_board {
        width: 100%;
        height: 50px;
        margin-left: 10%;
    }
    #btn_bottom_center {
        position: absolute;
        width: 100%;
        bottom: 125px;
    }
    #new_game {
        position: absolute;
        bottom: 60px;
    }
}