/* general stying for page */

* {
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

body {
    color: white;
    background-image: url('images/wood-texture.png');
    background-color: black;
}


/* Styles du Jeu */

main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 600px;
}

.gradient_div {
    display: block;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    padding: 2rem;
    color: #8F8F8F;
    background: #fff;
    background-clip: padding-box;
    border-radius: 10px;
}

.gradient_div:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(180deg, #cab9a5 -2.98%, #9E775E 68.14%, #996a52 104.54%);
}

#left_bg {
    display: block;
    position: absolute;
    width: 512px;
    height: 100%;
    background-color: #e7e7e7;
    left: 0px;
    margin-top: -32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 1;
    display: none;
}

#right_bg {
    display: block;
    position: absolute;
    width: 512px;
    height: 100%;
    background-color: #f5f5f5;
    right: 0px;
    margin-left: -33px;
    margin-top: -32px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 0;
}

.score {
    font-size: 105px;
}

.current {
    display: inline-block;
    width: 155px;
    height: 60px;
    font-weight: 400;
    font-size: 12px;
    padding-top: 3%;
    color: #fff;
    background-color: #EA4D4C;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.player_title {
    font-size: 33px;
    margin-left: 10%;
}

#player1 .witness {
    opacity: 0;
}

#player2 .witness {
    opacity: 0;
}

.witness {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #EA4D4C;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 1% 1%;
}

#ROUND_player1,
#ROUND_player2 {
    font-weight: 200;
    display: block;
    font-size: 25px;
}

#game_board {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    height: auto;
    z-index: 5;
}

#left_column {
    display: table-cell;
    text-align: center;
    width: 30%;
    height: 400px;
    float: left;
}

#center_column {
    display: table-cell;
    text-align: center;
    width: 30%;
    height: auto;
    text-align: center;
}

#right_column {
    display: table-cell;
    text-align: center;
    width: 30%;
    height: 400px;
}

.bt_board {
    font-weight: 200;
    display: table-cell;
    font-size: 17px;
    width: 165px;
    height: 38px;
    color: #fff;
    background-color: #bba285;
    border-radius: 5px;
    border: 0;
    text-align: center;
    margin-bottom: 5%;
}

.bt_board:hover {
    background-color: #EA4D4C;
    transition: background-color .5s;
}

.icon {
    display: inline-table;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 15px;
}

.roll_dice {
    margin-top: 60px;
}


/* Style du dé */

.cube {
    display: block;
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s;
    background-color: #e7e7e7;
}

#result {
    display: inline-table;
    padding-top: 5%;
    margin-top: -1px;
    width: 145px;
    height: 60px;
    background-image: url("images/dice-shadow.png");
    background-repeat: repeat-x;
}


/* Animation des faces du Dé */

.cube.show-1 {
    transform: translateZ(-80px) rotateY( 0deg);
}

.cube.show-2 {
    transform: translateZ(-80px) rotateY(-180deg);
}

.cube.show-3 {
    transform: translateZ(-80px) rotateY( -90deg);
}

.cube.show-4 {
    transform: translateZ(-80px) rotateY( 90deg);
}

.cube.show-5 {
    transform: translateZ(-80px) rotateX( -90deg);
}

.cube.show-6 {
    transform: translateZ(-80px) rotateX( 90deg);
}


/* Style des faces du dé */

.cube__face {
    position: absolute;
    width: 160px;
    height: 160px;
    box-shadow: inset 0 3.5px white, inset 0 -3.5px #bbb, inset 3.5px 0 #d7d7d7, inset -3.5px 0 #d7d7d7;
    line-height: 160px;
    color: white;
    text-align: center;
    border-radius: 6%;
    background-color: #e7e7e7;
}

.cube :nth-child(1) {
    background-image: url("images/face_01.svg");
    background-color: crimson;
    box-shadow: inset 0 3.5px rgb(141, 37, 37), inset 0 -3.5px rgb(134, 26, 26), inset 3.5px 0 #dd3838, inset -3.5px 0 #9c1616;
    line-height: 160px;
}

.cube :nth-child(2) {
    background-image: url("images/face_02.svg");
}

.cube :nth-child(3) {
    background-image: url("images/face_03.svg");
}

.cube :nth-child(4) {
    background-image: url("images/face_04.svg");
}

.cube :nth-child(5) {
    background-image: url("images/face_05.svg");
}

.cube :nth-child(6) {
    background-image: url("images/face_06.svg");
}


/* individual styling for each numbers face */

.cube__face--1 {
    transform: rotateY( 0deg) translateZ(80px);
}

.cube__face--2 {
    transform: rotateY(180deg) translateZ(80px);
}

.cube__face--3 {
    transform: rotateY( 90deg) translateZ(80px);
}

.cube__face--4 {
    transform: rotateY(-90deg) translateZ(80px);
}

.cube__face--5 {
    transform: rotateX( 90deg) translateZ(80px);
}

.cube__face--6 {
    transform: rotateX(-90deg) translateZ(80px);
}

label {
    margin-right: 0px;
}